@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    
    --primary-color:hsl(170, 100%, 26%);
    --brand-dark: hsl(170, 100%, 14%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-light: hsl(148, 23%, 89%);
    --brand-beige: hsl(40, 100%, 97%);
    --bg-light: hsl(180, 14%, 97%);
    --border-color: hsl(148, 23%, 89%);

    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
    
    /* Modificando o realce(highlight) usado por celulares para auxiliar visualmente que aquele elemento é "clicável" */
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100%;
}




/* GLOBAIS */

.wrapper {
    /* Largura width: 100%; e max-width: 38rem; */
    width: min(38rem, 100%);
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    margin-right: auto;
    margin-left: auto;
}

section {
    padding: 10rem 0;
}

p {
    color: var(--paragraph);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a.button {
    /* A largura se adapta ao conteúdo */
    width: fit-content;

    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;

    background-color: var(--primary-color);
    font-size: 1.4rem;
    
    color: #FFF;
    text-transform: uppercase;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    transition: background 200ms;
}

a.button:hover {
    background-color: var(--brand-dark);
}

a.button img {
    width: 2rem;
}

ul.social-links {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}
ul.social-links li img {
    width: 2.4rem;
}








body {
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--bg-light);
}




/* ==== NAVEGATION ==== */

nav {
    width: 100%;
    height: var(--nav-height);

    display: flex;

    position: fixed;
    
    z-index: 100;
} 

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 





/* ==== MENU SCROLL ==== */

nav#navigation.scroll {
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
}

nav.scroll svg:nth-child(1) path {
    fill: #FFF;
}

nav.scroll .open-menu path {
    stroke: #FFF;
}




/* ==== MENU EXPANDED ==== */

.menu,
.close-menu {
  position: fixed;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}


/* Elementos invisíveis */
.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}


/* Elementos visíveis */
body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded {
    overflow: hidden;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    background-color: var(--primary-color);

    top: 0;
    left: 0;

    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}
.menu ul:nth-child(1) li a {
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: #FFF;
}

.menu a.menu-button {
    padding: 1.6rem 3.2rem;
    border-radius: 4rem;
    margin: 4.8rem 0 8rem 0;
    background: #FFFFFF;

    
    font-size: 1.8rem;
    color: var(--primary-color);
    line-height: 2.3rem;
    text-transform: uppercase;
    
    transition: background 200ms;
    
    display: inline-block;
}
.menu a.menu-button:hover {
    background-color: var(--primary-color);
    color: #FFF;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 25%);
    
}
.menu ul.social-links {
    justify-content: center;
}

body.menu-expanded a.logo, 
body.menu-expanded button.close-menu {
    position: relative;
    z-index: 100;
} 

body.menu-expanded a.logo path {
    fill: #FFF;
}




/* ==== STANDARDIZE ==== */

section h4 {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--primary-color);
}


/* ==== HEADER ==== */

#home {
    padding-bottom: 0;
    padding-top: calc(4.1rem + var(--nav-height)); 
}

/* Criando um elemento HTML pelo CSS */
#home::before {
    content: "";
    width: 100%;
    height: calc(76% + var(--nav-height));
    background-color: var(--brand-light);

    display: block;

    /* Posicionando a caixa */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h1 {
    padding: 0;
    margin-bottom: 2.4rem;
    color: var(--headline);
    font-size: 3.4rem;
    line-height: 130%;
}

#home p {
    margin-bottom: 3.2rem;
    font-size: 1.8rem;
    line-height: 150%;
}

#home .button {
    margin-left: auto;
    margin-right: auto;
}

#home .woman-image {
    width: 26.3rem;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    object-position: 0 2rem;
}

#home .metrics {
    width: 100%;
    padding: 4rem 0;
    border: 1px solid var(--border-color);
    border-radius: 0.6rem;
    margin: 0 auto;
    background-color: var(--brand-beige);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.metrics h3 {
    font-size: 4.8rem;
    line-height: 130%;
    color: var(--headline);
}

.metrics p {
    margin-top: 0.4rem;
    line-height: 150%;
    color: var(--primary-color);
}




/* ==== STANDARDIZE ==== */

section h2 {
    font-size: 3rem;
    color: var(--headline);
    line-height: 3.9rem;
}


/* ==== SERVICES ==== */

#services .cards {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    border: 1px solid var(--border-color);
    border-radius: 0.6rem;
    text-align: left;
    background-color: #FFF;
}

#services .card img {
    width: 2.4rem;
}

#services .card h3 {
    margin-top: 1.6rem;
    font-size: 2.3rem;
    color: var(--headline);
    line-height: 3.1rem;
}

#services .card p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 150%;
}


/* ==== ABOUT ==== */

#about {
    background-color: var(--brand-beige);
    text-align: left;
}

#about .content {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
}

#about .content p { 
    font-size: 1.6rem;
    line-height: 150%;
}

#about img {
    width: 100%;
}


/* ==== CONTACT ==== */

#contact {
    background-color: #FFF;
    text-align: left;
}

#contact .content {
    margin-top: 3.2rem;
}

#contact .content ul {
    margin-bottom: 3.2rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
#contact .content ul li {
    color: var(--paragraph);

    display: flex;
    align-items: center;
    gap: 0.8rem;
}
#contact .content ul li img {
    width: 2.4rem;
}

#contact .content > img {
    width: 100%;
}

#contact .col-b img {
    width: 100%;
}




/* ==== FOOTER ==== */

footer {
    padding: 6rem 0;
    text-align: left;
    background-color: var(--primary-color);
}

footer svg {
    width: 23.6rem;
    height: 3.1rem;
}

footer p {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    color: var(--brand-beige);
    line-height: 2;
} 




/* ==== BACK TO TOP BUTTON ==== */

a#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    
    transform: translateY(100%);
    transition: 200ms;
    
    visibility: hidden;
}

a#backToTopButton.show {
    visibility: visible;
    transform: translateY(0);
}

a#backToTopButton svg {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    border-radius: 50%;
}




/* ==== MEDIA QUERIES ==== */

@media (min-width: 600px) {
    
    .wrapper {
        width: min(50rem, 100%);
    }
}


/* Este conjunto de declarações será aplicado quando o dispositivo tiver 1024px ou mais de largura */
@media (min-width: 1024px) {

    /* ==== GLOBAL ==== */

    #home::before {
        height: calc(78% + var(--nav-height));
    }

    .wrapper {
        width: min(112rem, 100%);

        /* Reestruturar a página */
        display: grid;
    }
    
    section {
        padding: 16rem 0;
    }

    section h2 {
        font-size: 4rem;
    }
    



    /* ==== NAVIGATION ==== */

    /* RESET */

    nav#navigation .wrapper * {
        padding: 0;
        margin: 0;
        font-size: initial;
        color: initial;
        font-weight: initial;
        background-color: initial;
        display: initial;
        position: initial;
        opacity: initial;
        visibility: initial;
        transform: initial;
        transition: initial;
        box-shadow: initial;
    }
    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
    }

    nav#navigation .menu ul:nth-child(1) a {
        color: var(--primary-color);
        opacity: 0.7;
    }
    
    nav#navigation .menu ul:nth-child(1) a.active,
    nav#navigation .menu ul:nth-child(1) a:hover {
        color: var(--primary-color);
        opacity: 1;
    }

    nav#navigation .menu ul:nth-child(1) a {
        transition: opacity 0.4s;
    }
    
    nav#navigation .menu ul:nth-child(1) a::after {
        content:'';
        width: 0%;
        height: 2px;
        
        background-color: var(--primary-color);

        display: block;

        position: relative;
        bottom: -1.92rem;
        left: -1rem;

        transition: width 0.2s;
    }
    nav#navigation .menu ul:nth-child(1) a.active::after,
    nav#navigation .menu ul:nth-child(1) a:hover::after {
        width: 100%;
        padding: 0 1rem;
    }
    
    nav#navigation .menu .menu-button {
        padding: 1rem 2.4rem;
        border: 1px solid var(--primary-color);
        font-size: 1.4rem;
        color: var(--primary-color);
        font-weight: 700;
    }

    nav#navigation .menu .menu-button:hover {
        background-color: var(--primary-color);
        color: #FFF;

        transition: background 200ms;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 5%);
    }


    /* ==== MENU SCROLL ==== */

    nav#navigation.scroll .menu ul:nth-child(1) a {
        color: var(--bg-light);
        opacity: 0.7;
    }
    nav#navigation.scroll .menu ul:nth-child(1) a.active,
    nav#navigation.scroll .menu ul:nth-child(1) a:hover {
        color: var(--bg-light);
        opacity: 1;
    }

    nav#navigation.scroll .menu ul:nth-child(1) a::after {
        background-color: var(--bg-light);
    }
    

    nav#navigation.scroll .menu .menu-button {
        border: 1px solid rgb(255 255 255 / 50%);
        color: rgb(255 255 255 / 95%);
    }
    nav#navigation.scroll .menu .menu-button.active,
    nav#navigation.scroll .menu .menu-button:hover {
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
    }





    /* Grid columns */ 
    
    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }


    /* ==== HOME ==== */
    
    #home {
        padding-top: var(--nav-height);
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }


    #home .col-a {
        text-align: left;
        align-self: center;
    }
    #home h1 {
        font-size: 5.2rem;
    }
    #home .button {
        margin: 0;
    }

    #home .woman-image {
        width: 42rem;
    }


    #home .metrics {
        grid-area: C;
        padding: 6rem;
        flex-direction: row;
        gap: 0;
    }

    /* Definindo linhas */
    #home .metrics div + div {
        border-left: 1px solid var(--primary-color);
    }

    #home .metrics div {
        flex: 1;
    }





    /* ==== SERVICES ==== */

    #services h2 {
        width: 49.7rem;
        margin: 0 auto;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
    }





    /* ==== ABOUT ==== */

    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 'B A';

        gap: 6.7rem;
    }

    #about .col-a {
        align-self: center;
    }

    #about .content {
        margin-bottom: 0;
    }





    /* ==== CONTACT ==== */

    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';

        gap: 14.1rem;
    }

    #contact .col-a {
        align-self: center;
    }

    #contact .content a.button {
        margin-bottom: 0;
    }

   


    
    /* ====FOOTER ==== */
    
    footer {
        padding: 8rem 0;
    }

    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }
    
    footer p {
        margin-bottom: 0;
    }

    footer .col-b {
        align-self: center;
        justify-self: flex-end;
    }
}